@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Patrick+Hand&display=swap');


*{
    box-sizing:border-box;
}


html,
body{

    width:100%;

    max-width:100%;

    margin:0;

    overflow-x:hidden;

}



body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    font-family:"Patrick Hand", cursive;


    background:

    linear-gradient(
        135deg,
        #ffd6ed,
        #d9c8ff,
        #ffc9e8
    );


}





.scene{

    width:100%;

    min-height:100vh;

    position:relative;


    display:flex;

    justify-content:center;

    align-items:center;


    overflow:hidden;

}






/* POKEMON */


.pokemon{

    position:absolute;

    width:110px;

    max-width:20vw;


    z-index:1;


    filter:
    drop-shadow(
        0 10px 15px rgba(0,0,0,.18)
    );


    animation:
    floatPokemon 4s ease-in-out infinite;

}




.gengar{

    left:2%;

    bottom:8%;

}




.espeon{

    right:2%;

    top:10%;

}




.clefairy{

    left:5%;

    top:12%;

}




.skitty{

    right:5%;

    bottom:10%;

}




.mew{

    right:42%;

    top:3%;

}







/* SCREENS */


.screen{

    width:100%;

    padding:20px;

    position:relative;

    z-index:5;

    text-align:center;

    animation:fade .6s ease;

}




.hidden{

    display:none !important;

}







/* CARD */


.card{


    width:90%;

    max-width:650px;


    margin:auto;


    padding:40px;


    background:

    rgba(255,255,255,.78);


    border-radius:40px;


    backdrop-filter:blur(15px);


    box-shadow:

    0 20px 50px rgba(120,60,140,.25);


}







h1{

    margin-top:0;


    font-family:"Caveat",cursive;


    font-size:55px;


    color:#8b4fa8;


}



p{

    font-size:25px;


    color:#68446f;

}








/* BUTTONS */


button{


    width:auto;

    max-width:90%;


    font-family:"Patrick Hand",cursive;


    font-size:24px;


    padding:

    14px 35px;


    margin:10px;


    border:none;


    border-radius:40px;


    cursor:pointer;


    color:white;


    background:

    linear-gradient(
        135deg,
        #ff8fcf,
        #a878ff
    );


    box-shadow:

    0 8px 20px rgba(120,60,140,.25);


    transition:.25s;

}




button:hover{

    transform:

    translateY(-5px)
    scale(1.05);

}







/* INPUTS */


input,
textarea{


    width:100%;


    max-width:450px;


    padding:15px;


    border:none;


    border-radius:25px;


    font-family:"Patrick Hand",cursive;


    font-size:22px;


    background:#fff0fa;


    color:#68446f;


}



textarea{

    height:110px;

    resize:none;

}







/* PREVIEW */


.invitation-paper{


    margin:25px 0;


    padding:25px;


    border-radius:30px;


    background:

    rgba(255,255,255,.65);


    border:

    2px dashed #d59adf;

}





.pokemon-ending{

    font-size:50px;

}









/* TABLET */


@media (min-width:600px){


.pokemon{

    width:160px;

}



.card{

    padding:50px;

}


}









/* COMPUTER */


@media (min-width:1000px){


.pokemon{

    width:230px;

}



.card{

    max-width:750px;

    padding:60px;

}



h1{

    font-size:70px;

}



p{

    font-size:28px;

}


}









/* PHONE */


@media(max-width:600px){


body{

    overflow-y:auto;

}



.scene{

    min-height:100vh;

    overflow:hidden;

}



.pokemon{

    width:70px;

    max-width:18vw;

}



.gengar{

    left:-5px;

    bottom:5%;

}



.espeon{

    right:-5px;

    top:8%;

}



.clefairy{

    left:-5px;

    top:15%;

}



.skitty{

    right:-5px;

    bottom:8%;

}



.mew{

    right:38%;

    top:2%;

}



.card{

    width:95%;

    padding:25px;

}



h1{

    font-size:40px;

}



p{

    font-size:20px;

}



button{

    width:90%;

    font-size:21px;

}


}









/* ANIMATIONS */


@keyframes fade{


from{

opacity:0;

transform:translateY(25px);

}


to{

opacity:1;

transform:translateY(0);

}


}




@keyframes floatPokemon{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-18px);

}


100%{

transform:translateY(0);

}


}